<div class="social-links">
  <ul>
    {% if author.linkedin %}
    <li><a href="http://linkedin.com/in/{{ author.linkedin }}" class="social-link-item" target="_blank"
        title="LinkedIn">
        <svg baseProfile="tiny" height="28px" id="Layer_1" version="1.2" viewBox="0 0 28 28" width="28px"
          xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path
              d="M8,19H5V9h3V19z M19,19h-3v-5.342c0-1.392-0.496-2.085-1.479-2.085c-0.779,0-1.273,0.388-1.521,1.165C13,14,13,19,13,19h-3   c0,0,0.04-9,0-10h2.368l0.183,2h0.062c0.615-1,1.598-1.678,2.946-1.678c1.025,0,1.854,0.285,2.487,1.001   C18.683,11.04,19,12.002,19,13.353V19z" />
          </g>
          <g>
            <ellipse cx="6.5" cy="6.5" rx="1.55" ry="1.5" />
          </g>
        </svg>
        <i class=""></i>
      </a></li>
    {% endif %}
    {% if author.email %}
    <li>
      <a href="mailto:{{ author.email }}" class="social-link-item" target="_blank" title="{{ author.email }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
      </a>
    </li>
    {% endif%}
    {% if author.stackoverflow %}
    <li><a href="http://stackoverflow.com/users/{{ author.stackoverflow }}" class="social-link-item" target="_blank"
        title="StackOverflow">
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.986 21.865v-6.404h2.134V24H1.844v-8.539h2.13v6.404h15.012zM6.111 19.731H16.85v-2.137H6.111v2.137zm.259-4.852l10.48 2.189.451-2.07-10.478-2.187-.453 2.068zm1.359-5.056l9.705 4.53.903-1.95-9.706-4.53-.902 1.936v.014zm2.715-4.785l8.217 6.855 1.359-1.62-8.216-6.853-1.35 1.617-.01.001zM15.751 0l-1.746 1.294 6.405 8.604 1.746-1.294L15.749 0h.002z" />
        </svg><i class="fab fa-fw fa-stack-overflow"></i></a>
    </li>
    {% endif %}
    {% if author.github %}
    <li>
      <a href="http://github.com/{{ author.github }}" class="social-link-item" target="_blank" title="Github">
        <img src="/img/github.png" alt="HTML5 Icon" style="width:24px;height:24px;">

      </a>
    </li>
    {% endif %}
    <!-- {% if author.twitter %}
    <li>
      <a href="http://twitter.com/{{ author.twitter }}" class="social-link-item" target="_blank" title="Twitter">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
        </svg>
      </a>
    </li>
    {% endif %} -->
    {% if author.upwork %}<li><a href="https://www.upwork.com/freelancers/{{ author.upwork }}" class="social-link-item"
        target="_blank" title="UpWork" data-proofer-ignore><i class="icon-upwork"></i></a></li>{% endif %}
    {% if author.facebook %}<li><a href="http://facebook.com/{{ author.facebook }}" class="social-link-item"
        target="_blank" title="Facebook"><i class="fab fa-fw fa-facebook"></i></a></li>{% endif %}
    {% if author.google.plus %}<li><a href="http://plus.google.com/+{{ author.google.plus }}" class="social-link-item"
        target="_blank" title="Google+"><i class="fab fa-fw fa-google-plus"></i> Google+</a></li>{% endif %}
    {% if author.skype %}<li><a href="skype:{{ author.skype }}" class="social-link-item" target="_blank"
        title="Skype"><i class="fab fa-fw fa-skype"></i></a></li>{% endif %}
    {% if author.xing %}<li><a href="http://www.xing.com/profile/{{ author.xing }}" class="social-link-item"
        target="_blank" title="Xing"><i class="fab fa-fw fa-xing"></i></a></li>{% endif %}
    {% if author.instagram %}<li><a href="http://instagram.com/{{ author.instagram }}" class="social-link-item"
        target="_blank" title="Instagram"><i class="fab fa-fw fa-instagram"></i></a></li>{% endif %}
    {% if author.tumblr %}<li><a href="http://{{ author.tumblr }}.tumblr.com" class="social-link-item" target="_blank"
        title="Tumblr"><i class="fab fa-fw fa-tumblr"></i></a></li>{% endif %}
    {% if author.gitlab %}<li><a href="http://gitlab.com/u/{{ author.gitlab }}" class="social-link-item" target="_blank"
        title="Gitlab"><i class="fab fa-fw fa-gitlab"></i></a></li>{% endif %}
    {% if author.lastfm %}<li><a href="http://lastfm.com/user/{{ author.lastfm }}" class="social-link-item"
        target="_blank" title="Last.fm"><i class="fas fa-fw fa-music"></i></a></li>{% endif %}
    {% if author.dribbble %}<li><a href="http://dribbble.com/{{ author.dribbble }}" class="social-link-item"
        target="_blank" title="Dribble"><i class="fab fa-fw fa-dribbble"></i></a></li>{% endif %}
    {% if author.pinterest %}<li><a href="http://www.pinterest.com/{{ author.pinterest }}" class="social-link-item"
        target="_blank" title="Pinterest"><i class="fab fa-fw fa-pinterest"></i></a></li>{% endif %}
    {% if author.foursquare %}<li><a href="http://foursquare.com/{{ author.foursquare }}" class="social-link-item"
        target="_blank" title="Foursquare"><i class="fab fa-fw fa-foursquare"></i></a></li>{% endif %}
    {% if author.discogs %}<li><a href="https://www.discogs.com/de/user/{{ author.discogs }}/collection?header=1"
        class="social-link-item" target="_blank" title="Discogs"><i class="icon-discogs"></i></a></li>{% endif %}
    {% if author.steam %}<li><a href="http://steamcommunity.com/id/{{ author.steam }}" class="social-link-item"
        target="_blank" title="Steam"><i class="fab fa-fw fa-steam"></i></a></li>{% endif %}
    {% if author.youtube %}<li><a href="https://youtube.com/user/{{ author.youtube }}" class="social-link-item"
        target="_blank" title="YouTube"><i class="fab fa-fw fa-youtube"></i></a></li>{% endif %}
    {% if author.soundcloud %}<li><a href="http://soundcloud.com/{{ author.soundcloud }}" class="social-link-item"
        target="_blank" title="Soundcloud"><i class="fab fa-fw fa-soundcloud"></i></a></li>{% endif %}
    {% if author.weibo %}<li><a href="http://www.weibo.com/{{ author.weibo }}" class="social-link-item" target="_blank"
        title="Weibo"><i class="fab fa-fw fa-weibo"></i></a></li>{% endif %}
    {% if author.flickr %}<li><a href="http://www.flickr.com/{{ author.flickr }}" class="social-link-item"
        target="_blank" title="Flickr"><i class="fab fa-fw fa-flickr"></i></a></li>{% endif %}
    {% if author.500px %}<li><a href="http://www.500px.com/{{ author.500px }}" class="social-link-item" target="_blank"
        title="500px"><i class="fab fa-fw fa-500px"></i></a></li>{% endif %}
    {% if author.codepen %}<li><a href="http://codepen.io/{{ author.codepen }}" class="social-link-item" target="_blank"
        title="Codepen"><i class="fab fa-fw fa-codepen"></i></a></li>{% endif %}
    {% if author.mixcloud %}<li><a href="https://www.mixcloud.com/{{ author.mixcloud }}" class="social-link-item"
        target="_blank" title="Mixcloud"><i class="fab fa-fw fa-mixcloud"></i></a></li>{% endif %}
    {% if author.telegram %}<li><a href="https://t.me/{{ author.telegram }}" class="social-link-item" target="_blank"
        title="Telegram"><i class="fab fa-fw fa-telegram"></i></a></li>{% endif %}
  </ul>
</div>