<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="author" content="{{ site.author }}" />

    <!-- Description -->
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.min.css"/>
    {%if page.theme %}
      <link rel="stylesheet" href="{{ "https://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/" | append: page.theme | append: '.css' }}" id="theme"/>
    {% else %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/black.css"/>
    {% endif %}

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/css/zenburn.css"/>

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "/reveal.js/css/print/pdf.css" | prepend: site.baseurl }}' : 'https://cdn.jsdelivr.net/reveal.js/3.0.0/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    {% assign page_slides = content | split: site.reveal.slide_separator %}
  
    <div class="reveal">
      <div class="slides">
        {% if content contains site.reveal.slide_separator %}
        {% assign page_slides = content | split: site.reveal.slide_separator %}

          {% for slide in page_slides %}

          <section>
            {% if slide contains site.reveal.vertical_separator %}
              {% assign vertical_slides = slide | split: site.reveal.vertical_separator %}

              {% for vertical_slide in vertical_slides %}
                <section>
                  {% if vertical_slide contains site.reveal.notes_separator %}
                  {% assign slide_content = vertical_slide | split: site.reveal.notes_separator | first %}
                  {% assign slide_notes = vertical_slide | split: site.reveal.notes_separator | last %}

                    {{ slide_content }}

                    <aside class="notes">
                      {{ slide_notes }}
                    </aside>

                  {% else %}

                    {{ vertical_slide }}

                  {% endif %}
                </section>
              {% endfor %}
            
            {% else %}
              {% if slide contains site.reveal.notes_separator %}
                {% assign slide_content = slide | split: site.reveal.notes_separator | first %}
                {% assign slide_notes = slide | split: site.reveal.notes_separator | last %}

                {{ slide_content }}

                <aside class="notes">
                  {{ slide_notes }}
                </aside>

              {% else %}

                {{ slide }}

              {% endif %}
            
            {% endif %}
          </section>

          {% endfor %}

        {% endif %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
    <script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.js"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        {% if page.width %}
        width: '{{ page.width }}',
        {% endif %}
        {% if page.width %}
        height: '{{ page.height }}',
        {% endif %}
        {% if page.transition %}
          transition: '{{page.transition}}',
        {% else %}
          transition: 'slide', // none/fade/slide/convex/concave/zoom
        {% endif %}
        // Optional reveal.js plugins
        dependencies: [
          { src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/zoom-js/zoom.js', async: true },
          { src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/notes/notes.js', async: true },
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.5.0/plugin/math/math.js', async: true },
        ]
      });
    </script>
    
  </body>
</html>